{% extends 'base.html' %}

{% block title %} Gerenciador Nginx {% endblock %}
{% block bar_title %} Nginx CODE {% endblock %}



{% block body %}

    <div class="containerX">
      <form method="post" action="{% url 'rewrite' %}">
      {% csrf_token %}  
        <textarea id="editor" name="nginx" rows="{{lines}}" cols="100">
          {{commands}}
        </textarea>
         <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
    </div>
    
    </script>
{% endblock %}