{% extends 'base.html' %}


{% block title %} Servidor {{program.name}} {%endblock%}
{% block bar_title %} Pagina {{program.name}} {% endblock %}


{% block header%}

    {% if installed %}
        <li class="nav-item active">
            <a class="nav-link" style="color:yellow;" href="{% url 'git' 'reset' program.pk %}">Git Reset<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" style="color:blue;" href="{% url 'git' 'pull' program.pk %}">Git Pull<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" style="color:red;" href="{% url 'uninstall' program.pk %}">Desinstalar Servidor<span class="sr-only">(current)</span></a>
        </li>
    {% else %}
        <li class="nav-item active">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">INSTALAR PAGINA</button>
        </li>
    {% endif %}


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">remove_notification
              <h5 class="modal-title" id="exampleModalLabel">Instalar Servidor {{program.name}} </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'install' program.pk %}">
                    {% csrf_token %}
                    <div class="modal-body">
                      <label for="basic-url">URL do seu repositório</label>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon3">https://github.com/</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="repository_url">
                      </div>
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>   
            </div>
           
          </div>
        </div>
      </div>

{% endblock %}